@font-face {
  font-family: "Muller";
  src: local("MullerBold"),
  url("../fonts/MullerBold.woff2") format("woff2"),
  url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("MullerMedium"),
        url("../fonts/MullerMedium.woff2") format("woff2"),
        url("../fonts/MullerMedium.woff") format("woff");
        font-weight: 500;
        font-display: swap;
        font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("MullerRegular"),
      url("../fonts/MullerRegular.woff2") format("woff2"),
      url("../fonts/MullerRegular.woff") format("woff");
      font-weight: 400;
      font-display: swap;
      font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Muller", sans-serif;

  background-color: #F1F1F1;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

p, a {
  margin: 0;
  padding: 0;
}

/* global */

:root {
  --color-active:#A47312;
  --color-focus: #CC9933;
  --color-hover-light: #F0BF5F;
  --color-hover: #CC9933;
}


.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.section {
  margin-bottom: 70px;
}

.sec-heading {
  margin: 0 0 20px 40px;
  padding: 0;

  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #333;
}

.content {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;

  color: #000;
}

.select,
.input {
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 1em;

  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
}

.btn:focus,
.btn:hover,
.btn:active {
  color: #fff;

  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.btn:focus,
.btn:hover {
  background-color: var(--color-focus);
  outline: 1px solid var(--color-focus);
}

.btn:active {
  background-color: var(--color-active);
}

.link {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.link:focus {
  outline: 1px solid var(--color-focus);
}

.link:focus,
.link:hover {
  color: var(--color-focus);
}

.link:active {
  color: var(--color-active);
  outline: none;
}

.link--light-color {
  transition-property: color, padding-right;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.link--light-color:focus {
  outline: none;
}

.link--light-color:hover {
  padding-right: 26px;
  color:  #F0BF5F;
}

.link--light-color:active {
  color: #fff;
  padding-right: 15px;
}

/* end global */


.container {
  margin: 30px auto;
  max-width: 1170px;

}

/* header */

.header {
  margin-bottom: 70px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}


.header__left {
  display: flex;
  align-items: center;
}

.header__logo-link {
  margin-right: 40px;
}

.header__contact {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;

  font-style: normal;
  color: #666;
}

.header__personal-account {
  padding-left: 28px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;

  color: #CC9933;
  background: url("../img/icons/pers_cab_arrow.svg") no-repeat left center;

  transition-property: color, background-image;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;

}

.header__personal-account:focus {
  outline: 1px solid #CC9933;
}

.header__personal-account:hover {
  color: var(--color-hover-light);
  background: url("../img/icons/arrow-header_hover.svg") no-repeat left center;
}

.header__personal-account:active {
  color: var(--color-active);
  outline: none;
  background: url("../img/icons/pers_cab_arrow.svg") no-repeat left center;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 45px;

  border-radius: 15px;
  background-color: #fff;
}

.header-nav__list {
  display: flex;

}

.header-nav__item {
  margin-right: 45px;
  padding: 27px 0;
}

.header__btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button:first-child {
  margin-right: 40px;
}

/* end header */

.main-header {
  display: none;
}

/* special offer*/

.sec-special__container {
  display: flex;
  justify-content: space-between;
}

.sec-special__left-block,
.sec-special__right-block {
  width: 100%;
}

.sec-special__offer-left {
  padding: 40px 45px;
  max-width: 573px;

  border-radius: 15px;
}

.sec-special__offer-left:focus-within,
.sec-special__offer-right:focus-within {
  outline: 1px solid #CC9933;
  outline-offset: 5px;
}

.sec-special__left-block {
  margin-right: 24px;
}

.sec-special__offer-left:first-child {
  margin-bottom: 24px;

  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
              url("../img/secial_offer/spec-1.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.sec-special__offer-left:last-child {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
              url("../img/secial_offer/spec-2.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.sec-special__caption {
  margin: 0 0 15px 0;
  max-width: 420px;

  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
}

.sec-special__text {
  margin: 0 0 47px 0;

  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #fff;

  opacity: 0.8;
}

.sec-special__link {
  padding-right: 15px;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #F0BF5F;

  background-image: url("../img/icons/arrow_right.svg");
  background-repeat: no-repeat;
  background-position: right center;

}

.sec-special__offer-right {
  padding: 212px 0 0 45px;
  height: 100%;

  background: url("../img/secial_offer/spec-3.jpg") no-repeat;
  border-radius: 15px;
  background-size: cover;
}

.sec-special__caption-right {
  font-size: 60px;
  line-height: 60px;
}

.sec-special__text-right {
  font-size: 30px;
  line-height: 30px;
}

/* end special offer*/

/* about*/

.sec-about__content {
  max-width: 888px;
}

/*end about*/


/* services */

.sec-services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sec-services__item {
  padding: 191px 126px 35px 45px;
  width: calc((100% - 24px) / 2);

  border-radius: 15px;
}

.sec-services__item:focus-within {
  outline: 1px solid #CC9933;
  outline-offset: 5px;
}

.sec-services__item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.sec-services__item {
  margin-bottom: 24px;
}

.sec-services__item:first-child {
  background:  url("../img/services/serv-1.jpg") no-repeat left top,
                linear-gradient(#fff, #fff);
}

.sec-services__item:nth-child(2) {
  background:  url("../img/services/serv-2.jpg") no-repeat left top,
                linear-gradient(#fff, #fff);
}

.sec-services__item:nth-child(3){
  margin-bottom: 0;

  background:  url("../img/services/serv-3.jpg") no-repeat left top,
                linear-gradient(#fff, #fff);
}

.sec-services__item:nth-child(4) {
  margin-bottom: 0;

  background:  url("../img/services/serv-4.jpg") no-repeat left top,
                linear-gradient(#fff, #fff);
}

.sec-services__link {
  padding-right: 20px;

  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  font-style: normal;
  color: #CC9933;

  background: url("../img/icons/arrow_right_big.svg") no-repeat right top;

  transition-property: color, padding-right;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}


.sec-services__link:hover {
  color: var(--color-hover-light);

  background: url("../img/icons/arrow_right_big_light.svg") no-repeat right top;
}

.sec-services__link:active {
  color: var(--color-active);

  background: url("../img/icons/arrow_right_big.svg") no-repeat right top;
}
/* end services */

/* advantages */

.sec-advantages {
  margin-bottom: 48px;
}

.sec-advantages__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sec-advantages__item {
  margin-bottom: 22px;
  padding: 116px 42px 32px 45px;
  width: calc((100% - (3 * 24px)) / 4);

  border-radius: 15px;
}

.sec-advantages__item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.sec-advantages__item:last-child {
  margin-right: 0;
}

.sec-advantages__item  {
  background: #fff no-repeat top 42px left 45px;
}

.sec-advantages__item:nth-child(1) {
  background-image: url("../img/benefits/bathtub.svg");
}

.sec-advantages__item:nth-child(2) {
  background-image: url("../img/benefits/hanger.svg");
}

.sec-advantages__item:nth-child(3) {
  background-image: url("../img/benefits/heating.svg");
}

.sec-advantages__item:nth-child(4) {
  background-image: url("../img/benefits/hotel-key.svg");
}

.sec-advantages__item:nth-child(5) {
  background-image: url("../img/benefits/parking.svg");
}

.sec-advantages__item:nth-child(6) {
  background-image: url("../img/benefits/reception.svg");
}

.sec-advantages__item:nth-child(7) {
  background-image: url("../img/benefits/security-box.svg");
}

.sec-advantages__item:nth-child(8),
.sec-advantages__item:nth-child(9) {
  background-image: url("../img/benefits/swimming-pool.svg");
}

/* end advantages */


/* placement */

.sec-placement {
  margin-bottom: 46px;
}

.sec-placement__list {
  display: flex;
  flex-wrap: wrap;
}

.sec-placement__item {
  width: calc((100% - (24px * 2)) / 3);
  margin-right: 24px;
  margin-bottom: 24px;

  background-color: #fff;
  border-radius: 15px;
}

.sec-placement__item:nth-child(3n),
.sec-placement__item:last-child {
  margin-right: 0;
}

.sec-placement__image {
  display: block;
  border-radius: 15px 15px 0 0;

}

.sec-placement__content-block {
  padding: 32px 45px 45px 45px;
}

.sec-placement__top-block {
  display: flex;
  align-items: center;

  margin-bottom: 16px;
}

.sec-placement__star-group {
  display: flex;
  justify-content: space-between;
}

.sec-placement__accommodation-star {
  margin-right: 6px;
}

.sec-placement__cost {
  margin-right: 52px;
}

.sec-placement__cost-pre {
  color: #999;
}

.sec-placement__cost-value {
  font-size: 20px;
  font-weight: 700;
  line-height: 16px;
}

.sec-placement__hotel-name {
  margin-bottom: 16px;

  line-height: 16px;
}

.sec-placement__hotel-address {
  margin-bottom: 33px;

  line-height: 16px;

  color: #999;
}

.sec-placement__item:last-child {
  display: flex;
  position: relative;
  align-items: center;
  padding: 373px 53px 27px 54px;

  background: url("../img/placement/placement-last.jpg");
  background-size: cover;
}

.sec-placement__link {
  padding-right: 16px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  color: #fff;

  background: url('../img/icons/arrow_right_white.svg') no-repeat right center;
}

.sec-placement__link::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  min-width: 100%;
  height: 100%;

}

/* end placement */


/* form */

.sec-form {
  padding: 40px 45px 45px 45px;

  background-color:#E9E9E9;
  border-radius: 10px;
}

.sec-form__main-form {
  display: flex;
  align-items: center;
  padding: 30px 28px;

  background-color: #fff;
  border-radius: 10px;
}

.sec-form__label {
  display: inline-block;
  margin-bottom: 15px;
}

.form__button {
  padding: 13px 30px;

  background-color: #fff;
}

.sec-form__block {
  margin-right: 41px;
  max-width: 170px;
}

/* end form */


/* contacts */
.sec-contacts {
  margin-bottom: 40px;
}

.sec-contacts__container {
  display: flex;
  justify-content: space-between;
  padding: 45px;

  background-color: #fff;
  border-radius: 10px;
}

.sec-contacts__left-block {
  margin-right: 52px;
  width: 100%
}

.sec-contacts__img {
  max-width: 653px;

  border-radius: 10px;
}

.sec-contacts__list {
  max-width: 100%;
}

.sec-contacts__item {
  display: flex;

  margin-bottom: 25px;
  padding-bottom: 23px;
  max-width: 375px;

  border-bottom: 1px solid #E9E9E9;
}

.sec-contacts__name-left {
  margin-right: 47px;
  width: 100px;
}

.sec-contacts__name-left {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;

  color: #000;
}

.sec-contacts__item-right {
  max-width: 229px;
}

.sec-contacts__address,
.sec-contacts__link,
.sec-contacts__text {
  line-height: 24px;

  font-style: normal;
}

.sec-contacts__link {
  color:#CC9933;
}

.sec-contacts__button {
  margin-top: 45px;
  padding: 30px;

  font-size: 16px;
  font-weight: 700;

  background-color: #fff;
  cursor: pointer;
}

.sec-contacts__text--color-gray {
  color: #999;
}

/* end contacts */


/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 45px;

  color: #fff;
  background: #333 url("../img/footer/footer-img.svg") no-repeat 738px 115px;
  border-radius: 10px;
}

.footer__left-block {
  margin-right: 125px;
  max-width: 302px;
}

.footer__centr-block {
  margin-right: 269px;
  max-width: 359px;
}

.footer__content {
  font-size: 16px;
  font-weight: 400;
  line-height: 30.5px;
  font-style: normal;
}

.copyright {
  margin-bottom: 37px;
}

.footer__text {
  margin-bottom: 40px;
}

.footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;

  color: #CC9933;
}

.contact-link:focus {
  outline: 1px solid #CC9933;
}

.contact-link:hover {
  color: var(--color-hover-light);
}

.contact-link:active {
  color: var(--color-active);
  outline: none;
}

.footer__address {
  margin-bottom: 30px;

  line-height: 30px;
}

.footer__contact-phone {
  margin-bottom: 15px;
}

.footer__item-social:not(:last-child) {
  margin-bottom: 20px;
}

.footer__svg {
  transition-property: fill;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.footer__svg:focus path,
.footer__svg:hover path{
  fill: #CC9933;

}

.footer__svg:focus {
  background-color: #fff;
}

.footer__svg:active path {
  fill: var(--color-active);
}
/* end footer */
